body {
    font-family: "Inter", sans-serif;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    border: solid black 1px;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
}

::placeholder {color: black; opacity: 1;}

input {
    ::placeholder {color: black;}
    border: 1px solid black;
    border-radius: 6px;
    font-family: inherit;
    font-size: small;
    padding: 6px;
    background: inherit;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px 8px 32px;

    background: url("search.svg") no-repeat 8px center;
    background-size: 20px;
}

.tag {
    padding: 6px;
    border-radius: 6px;
    font-size: small;
    margin-left: 8px;
}

#reload_button {
    border: 1px solid black;
    background: inherit;
    margin-left: 0;
    display: none;
}

#reload_button:active {
    background-color: lightgray;
}
